body {
	marging:0;
	padding:0;
}
#holder {
	width:1050px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px;
	margin-bottom:21px;
}
#header {
	height:130px;
	background-image:url(../NZCarelogo.png);
	background-repeat:no-repeat;
	margin-bottom:11px;
}
#navBar {
	height:40px;
	background-color:#26ABD7;
}
#content {
	height:auto;
	clear:both;
	overflow:auto;
}
#pageHeading {
	height:auto;
	padding:11px;
}

#footer {
	height:100px;
}
#contentLeft {
	border:solid;
	width:180px;
	float:left;
	padding-top:11px;
	padding:11px;
	
	
}
#contentRight {
	margin-top:10px;
	width:775px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
}
#footer {
	height:100px;
}
h1 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}
.StyleTxtField {
	border:1px solid #666;
	border-radius:6px;
	width:200px;
	height:35px;
}
#headerRight {
	margin-bottom:50;
	width:250px;
	height:130px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
}
.buttonStye {
	width:140px;
	height:50px;
	border:medium;
	border-radius:20%;
	background-color:#D2D2D2;
	text-align:center;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
